body {
    background-color: white color;
    color: #1b1b1b;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}


.contenedor {
    display: flex;

}


.user {
    display: flex;
    flex-direction: column;

}

.contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    border-color: #E8EBE4;
    border-style: solid;
}

.contacto_user {
    display: flex;
    align-items: center;
}

.contacto_img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 10px;
}

.contacto_nombre {
    margin-left: 10px;

}

.chat_text {
    margin-left: 20px;
    margin-right: 20px;
}

.nombre {
    font-size: 15px;
}

.boton_activa {
    font-size: 10px;
    font-weight: 400;
}

.hands {
    background-color: #E8EBE4;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.hands img {
    height: 250px;
}

.hands h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 45px;
    margin: 10px;
    text-align: center;
}

.hands p {
    margin: 10px;
    text-align: center;
    height: 60px;
    width: 470px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.icons {
    display: flex;
    border: 1px #E8EBE4;
    justify-content: space-between;
    margin-right: 20px;
}

.icons a{
    color:#BEC1BB;
    margin-left: 10px;
}

.msj {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 10px 40px 10px;

}

.msj a {
    background-color: #a491d2;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 400;
}

.text1 {
    font-size: 1rem;
}

.text2 {
    font-size: 0.8rem;
    font-weight: 400;
}