body {
    background-color: white color;
    color: #1b1b1b;
    font-family: "Roboto", sans-serif;
    font-weight:bold;
    font-style: normal;
    overflow: hidden;
  }


.contenedor {
    display: flex;
    flex:auto;
}













.hands {
    background-color: #e8ebe4;
    color: #1b1b1b;
    display: flex;
    flex:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hands img {
    height: 300px;
}
.hands h1{
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 45px;
    margin: 10px;
    text-align: center;

}

.hands p{
    margin: 10px;
    text-align: center;
    height: 60px;
    width: 470px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;


}